
body {
  font: 12px 'Trebuchet MS', Helvetica, arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

table, tr, td {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar {
  display: block;
  background-color: #000000;
  border: 1px solid #000000;
  padding: 0;
  margin: 0;
}

.footer {
  display: block;
  padding: 30px 0 20px 0;
  margin: 0;
}

.footer_social {
  display: block;
  text-align: center;
  /* background-color: #ffd0dd; */

  /* float: right; */
}

.copyright {
  display: block;
  padding: 10px 10px 30px 10px;
  font-size: 12px;
  color: #999999;
  text-align: center;
}

.navbar ul {
  margin-right: 30px;
  margin-top: 30px;
  float: right;
}

.navbar li, .footer li {
  float: left;
  position: relative;
  display: block;
  padding: 10px 20px;
  list-style: none;
}

.navbar li, .navbar li a {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.footer li, .footer li a {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.contact_box {
  display: block;
  padding: 70px 10px 70px 10px;
  font-size: 24px;
  color: #777777;
  background-color: #fff3d5;
  text-align: center;
}

.clearfix {
  clear: both;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}





